.cover {
  object-fit: cover;

  width: 100%;
  height: 100%;
}

.bw1 {
  border-width: .5px;
}

.bg-green {
  background: #5BA829;
  border-color: #5BA829 !important;
}

.green {
  color: #ADD394;
}

.bg-gray-banner {
  background-color: #FAFAFA;
}

.ui-devider-clear {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.rate-box {
  border-radius: 5px;
  width: 40px;
  height: 25px;
  font-size: 15px;
  font-weight: 400;
  padding: 3px 7px;
  text-transform: uppercase;
  margin-right: 6px;
  border: 0;
}

.rate-color-star5 {
  color: #305D02 !important;
  box-shadow: 0 0 0 1px #305D02 inset !important;
  background: rgba(10,128,15,.2) !important;
}

.rate-color-star4 {
  color: #5BA829 !important;
  box-shadow: 0 0 0 1px #5BA829 inset !important;
  background: rgba(10,163,20,.2) !important;
}

.rate-color-star3 {
  color: #CDD614 !important;
  box-shadow: 0 0 0 1px #CDD614 inset !important;
  background: rgba(126,193,65,.2) !important;
}

.rate-color-star2 {
  color: #FF7800 !important;
  box-shadow: 0 0 0 1px #FF7800 inset !important;
  background: rgba(251,193,4,.2) !important;
}

.rate-color-star1 {
  color: #e23744 !important;
  box-shadow: 0 0 0 1px #e23744 inset !important;
  background: rgba(226,55,68,.2) !important;
}

.star-size {
  font-size: .8em !important;
  margin-left: .5px;
}

.rate-box-aggregate {
  width: 108px;
  height: 52px;
  border-radius: .28571429rem;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 39px;
}

.rate-color-level1 {
    background: #CD1C26;
    border-color: #CD1C26 !important;
}

.rate-color-level2 {
  background: #FF7800;
  border-color: #FF7800 !important;

}

.level-4 {

  background: #FFBA00;
  border-color: #FFBA00 !important;

}

.level-5 {

  background: #CDD614;
  border-color: #CDD614 !important;

}

.rate-color-level3 {
  background: #9ACD32;
  border-color: #9ACD32 !important;
}

.rate-color-level4 {
  background: #5BA829;
  border-color: #5BA829 !important;
}

.rate-color-level5 {
  background: #3F7E00;
  border-color: #3F7E00 !important;
}

.most_recent {
  font-size: 11.3px;
  color: #979baa;
}

.dash_colr {
  color: #d7d7d7;
}
.fs20 {
  font-size: 20px;
}
.dash_hover {
  width: 323px;
  border: 0;
      border-top-color: currentcolor;
      border-top-style: none;
      border-top-width: 0px;
  border-top: 2px dashed #d7d7d7;
  background: 0 0;
  height: 0;
  margin-top: 10px;
}