body, html {
  height: 100%;
}
.bg {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/05/05/68/9859685b678ea96.jpg");
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.background {
	background-color: #f5f5f5;
}

.content {
  margin-top: 50px; 
 }

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.grid-container {
  grid-template-columns: auto;
  padding: 5px;
}

.grid-container > div {
  text-align: center;
  font-size: 14px;
}

.devider {
	border-top: 1px solid #8c8b8b;
} 

.card {
	width: 512px;
}

.land-card {
  width: 23rem;
}

.line {
  border-bottom: 1px solid #eceff1;
  height: 135px;
}

.font {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.font-filter {
  font-size: 13px;
}

.font-title {
  font-family: 'Cabin', cursive;
  font-size: 24px;
}

.font-mini-card {
  font-size: 13px;
}

.font-mini-card2{
  font-size: 11px;
}

.font-card {
  font-size: 15px;
}

.font-card-title {
  font-size: 25px;
  color: solid red;
}

.mini-card {
  width: 10rem;
  height: 11rem;
}


