

body, html {
  height: 100%;
}

.bg {
  background-image: url("images/bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: 'Roboto', cursive;
}

.background {
	background-color: #f5f5f5;
}

.content {
  margin-top: 50px; 
 }

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.grid-container {
  grid-template-columns: auto;
  padding: 5px;
}

.grid-container > div {
  text-align: center;
  font-size: 14px;
}

.devider {
	border-top: 1px solid #8c8b8b;
} 

.card {
	width: 512px;
}

.land-card {
  width: 23rem;
}

.line {
  border-bottom: 1px solid #eceff1;
  height: 10px;

}

.font {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.font-filter {
  font-size: 13px;
}

.font-title {
  font-family: 'Cabin', cursive;
  font-size: 24px;
}

.font-mini-card {
  font-size: 13px;
}

.font-mini-card2{
  font-size: 11px;
}

.font-card {
  font-size: 15px;
}

.font-card-title {
  font-size: 25px;
  color: solid red;
}

.mini-card {
  width: 10rem;
  height: 11rem;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

input[name="size"]{
  width: 100%;
}