body, html {
  height: 100%;
}
.bg {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/05/05/68/9859685b678ea96.jpg");
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.background {
	background-color: #f5f5f5;
}

.content {
  margin-top: 50px; 
 }

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.grid-container {
  grid-template-columns: auto;
  padding: 5px;
}

.grid-container > div {
  text-align: center;
  font-size: 14px;
}

.devider {
	border-top: 1px solid #8c8b8b;
}

.card {
	width: 35rem;
}

.line {
  border-bottom: 1px solid #eceff1;
  height: 135px;
}

/*button*/

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

/*link*/

a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blue;
}
